<p id="notice"><%= notice %></p>
<div class="container">
<h1><%= t('user.users') %></h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t('link.email') %></th>
      <th><%= t('link.confirm_at') %></th>
      <th><%= t('link.admin') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td></td>
        <td><%= user.email %></td>
        <td><%= user.confirmed_at %></td>
        <td><%= yes_no(user.is_admin) %></td>
        <td>
          <%= link_to t('link.show'), user, class: 'btn btn-link' %>
          <%= link_to t('link.edit'), edit_user_path(user), class: 'btn btn-link' %>
          <%= link_to t('link.destroy'), user, method: :delete,
                      data: { confirm: t('confirm_question') }, class: 'btn btn-link' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('user.new'), new_user_path, class: 'btn btn-dark' %>
</div>
