<div class="container">

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Confirmed:</strong>
    <%= yes_no(@user.confirmed?) %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= yes_no(@user.is_admin?) %>

  </p>
  <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-dark' %>
  <%= link_to 'Back', users_path, class: 'btn btn-dark' %>
</div>
