<div class="container">

  <p>
    <strong><%= t('link.email') %>:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong><%= t('link.confirm') %>:</strong>
    <%= yes_no(@user.confirmed?) %>
  </p>

  <p>
    <strong><%= t('link.admin') %>:</strong>
    <%= yes_no(@user.is_admin?) %>

  </p>
  <%= link_to t('link.edit'), edit_user_path(@user), class: 'btn btn-dark' %>
  <%= link_to t('link.back'), users_path, class: 'btn btn-dark' %>
</div>
