<!DOCTYPE html>
<html>
  <head>
    <title>Slayde</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <nav class="navbar navbar-expand-sm fixed-top navbar-light bg-light">
    <%= link_to 'Slayde!', root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav">
      <% if current_user.present? %>
          <li class="nav-item">
          <%= link_to '#', class: 'nav-link' do %>
              Moves: <span id="counter"></span>
          <% end %>
          </li>
      <% end %>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <% if current_user.present? %>
            <li class="nav-item">
              <%= link_to 'Log out', sessions_path, method: :delete, class: 'nav-link' %>
            </li>
            <% if current_user.is_admin? %>
              <li class="nav-item">
                <%= link_to 'Control Panel', users_path, class: 'nav-link' %>
              </li>
            <% end %>
          <% else %>
            <li class="nav-item">
              <%= link_to 'Register', new_registration_path, class: 'nav-link' %>
            </li>
          <% end %>
        </ul>
      </div>
  </nav>
    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "flash #{key}" %>
    <% end %>
    <%= yield %>
  </body>
</html>
